.locations-container {
  background-color: bisque;
}

.locations-wrapper {
  background-color: white;
}

.locations-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.locations-wrapper ul li {
  list-style: decimal-leading-zero;
  color: #8600ff;

}


.another-test-class img{
  border-radius: 0;
}