.dicoteaserwithsvg-wrapper {
  margin-top: 10rem !important;
  max-width: none !important;
  margin-bottom: 7rem !important;
}

.dicoteaserwithsvg {
  /* height: 20rem; */
}

.dicoteaserwithsvg > div {
  display: flex;
  gap: 10rem;

  /* justify-content: center;
  align-items: center;
    gap: 10rem; */
}

.dicoteaserwithsvg div div:first-of-type {
  display: flex;
  max-width: 60%;
  margin: 0 15px 0 100px;
  border-bottom: 2px solid black;
}

.dicoteaserwithsvg div div:last-of-type {
  /* max-width: 30%; */
}

.dicoteaserwithsvg > div h4 {
  transform: translate(0, -39px) rotate(180deg);
  writing-mode: vertical-rl;
  margin-left: 0;
}

.dicoteaserwithsvg > div p {
padding-top: 4.6rem;
}

.icon-teaser svg{
  width: 100%;
}